{% load static %}
{% include 'common_Header.html' %}


<!doctype html>
<html lang="en">
<title>About me</title>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<!-- <link rel="icon" href="{% static 'onlinePortfolio/img/favicon.png' %}" type="image/png"> -->
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/style.css' %}">
</head>
<body>

    <!-- https://attendance-management-project.herokuapp.com/ -->
    
    <!--================ Start About Us Area =================-->
    <section class="about_area my_section_gap_top">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        
                        <img class="" src="{% static 'images/signup-image.jpg' %}" alt="">
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                        <h2>let’s <br>
                            Introduce about <br>
                            myself</h2>

                            <p>Hello, I'm <u>Lokendra Arya</u>, a proud graduate of Poornima Institute of Engineering and Technology in Jaipur.</p>
                            <p>I hold a degree in Computer Science from my B.Tech journey, where I immersed myself in the dynamic world of technology and innovation.</p>
                            <p>Passionate about pushing boundaries and exploring the limitless possibilities within the realm of computer science, I am ready to embark on new challenges and contribute to the ever-evolving tech landscape.</p>                            
                            <p>As a dedicated software developer with <u>1.6 years of experience</u> shaping digital solutions, I've honed my skills in HTML, CSS, JavaScript, jQuery, Ajax, Bootstrap, Python, MySQL, and API integration.</p>
                            <p>I thrive on transforming ideas into reality, leveraging my skills to create seamless and innovative experiences. My passion for coding is driven by the ever-evolving tech landscape, and I'm eager to continue pushing boundaries and contributing to the world of software development.</p>
                            <p>Excited to connect, collaborate, and contribute to meaningful projects, I look forward to the next chapter of my journey in the tech world.</p>

                        <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->


    <!--================ Start Work & Skills Area =================-->
    <section class="about_area ">
        <!-- <div class="container">
            <div class="row justify-content-start align-items-center"> -->
                <div class="achievements">
                    <div class="work">
                      <i class="fas fa-atom"></i>
                      <!-- <a class="work-heading" href="{% url 'projects' %}">Projects</a> -->
                      <p class="work-heading">Projects</p>
                      <p class="work-text">I have worked on many projects that are- <br>Uttar Pradesh Medical Faculty, Attendance Management, Hospital Management, Traval Suggestion</p>
                    </div>
                    <div class="work">
                      <i class="fas fa-skiing"></i>
                      <p class="work-heading">Skills</p>
                      <p class="work-text">
                        <u>Technologies and Programming Languages</u> :
                          HTML5, CSS3, Bootstrap, Ajax, JQuery
                          Python3, PHP, JavaScript, MySQL
                          Django, CodeIgniter, Zend
                        <br>
                        <u>Other Technical Skills</u> : Git, Web Services (RESTful API), Postman
                      </p>
                      <!-- <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p> -->
                    </div>
                    <div class="work">
                      <i class="fas fa-ethernet"></i>
                      <p class="work-heading">Work Experience</p>
                      <p class="work-text">
                        Futuretek Commerce Pvt. Ltd.(Software Developer),
                        VGT Private Limited (PHP Web Developer)
                      </p>
                      <!-- <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p> -->
                    </div>
                  </div>
            <!-- </div>
        </div> -->
    </section>
    <!--================ End Work & Skills Area =================-->



    <!--================ Start My Resume =================-->

            <!-- <h5>Here Is My resume - <img src="" onclick='console.log({% static "document/Lokendra_Arya_Resume_25-08-2023-12-04-41.pdf" %})' alt="Resume"> -->
        <!-- <h5>Here Is My resume - </h5>
        <img width="80" src="{% static 'images/resumeIcon.png' %}" onclick="openPdf()" alt="Resume"> -->
    
    <!--================ End My Resume =================-->


</body>

</html>

{% include 'common_Footer.html' %}

