{% load static %}
{% include 'common_Header.html' %}

    
<main>
  <div class="intro">
    <h1>________Hello________</h1>
    <h1>I am Lokendra Arya</h1>
    <p>Software Developer</p>
    <!-- <p>I am a Software developer and I love to create websites and logics.</p> -->
    <button>Learn More</button>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Projects</p>
      <p class="work-text">I have worked on many projects that are- <br>Uttar Pradesh Medical Faculty, Attendance Management, Hospital Management, Traval Suggestion</p>
      <!-- <p class="work-text">I have worked on many projects and I am very proud of them. I am a very good developer and I am always looking for new projects.</p> -->
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Skills</p>
      <p class="work-text">
        <u>Technologies and Programming Languages</u> :
          HTML5, CSS3, Bootstrap, Ajax, JQuery
          Python3, PHP, JavaScript, MySQL
          Django, CodeIgniter, Zend
        <br>
        <u>Other Technical Skills</u> : Git, Web Services (RESTful API), Postman
      </p>
      <!-- <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p> -->
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Work Experience</p>
      <p class="work-text">
        Futuretek Commerce Pvt. Ltd.(Software Developer),
        VGT Private Limited (PHP Web Developer)
      </p>
      <!-- <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p> -->
    </div>
  </div>
  <div id="myAbout" class="about-me">
    <div class="about-me-text">
      <h2>About Me</h2>
      <p>Dedicated, enthusiastic, and innovative Software Developer with <u>1.6 years of experience</u>, passionate about coding and
        proficient in creating innovative solutions, Self-motivated and reliable candidate successful at managing multiple priorities
        with a positive attitude.</p>
      <!-- <p>I am a software developer and I love to create websites. I am a very good developer and I am always looking for new projects. I am a very good developer and I am always looking for new projects.</p> -->
    </div>
    <!-- <img src="static/images/signin-image.jpg" alt="me"> -->
    <img src="{% static 'images/signin-image.jpg' %}" alt="me">
    <!-- <img src="https://images.unsplash.com/photo-1579389083078-4e7018379f7e?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="me"> -->
    <!-- <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me"> -->
  </div>
</main>

{% include 'common_Footer.html' %}

    
    