{% load static %}
{% include 'common_Header.html' %}

<title>Portfolio Lokendra</title>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<!-- <link rel="icon" href="{% static 'onlinePortfolio/img/favicon.png' %}" type="image/png"> -->
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/style.css' %}">
</head>

<!--================ Start Project 1 Area =================-->
<section class="about_area my_section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about_img">
                            <img class="" src="{% static 'images/eshiksaLogo.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about_img">
                            <img class="" src="{% static 'images/getepayLogo.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="offset-lg-1 col-lg-8">
                <div class="main_title text-left">
                    <!-- <h5>GetePay/eShiksa<br>
                        - UP State Medical Faculty <br>
                        - State Institute of Health and Family Welfare</h5> -->

                    <h4><u>GetePay/eShiksa</u></h4>
                    <h6>UP State Medical Faculty</h6>
                    <p>• Implemented a new functionality that adds multiple forms with replicated fields similar to the previous form. <br> &nbsp; This
                       enhancement streamlined the data entry process and improved overall efficiency. <br>
                       • Established inventory control by extracting information from the supplier's database and retrieving fee <br> &nbsp; details from our
                        company's database.
                       • Create a user authentication and authorization for secure access. <br>
                       • Implemented a robust fee calculation system for multiple students in a consolidated form structure. <br>
                       • Developed and implemented a comprehensive project using HTML, CSS, JavaScript, AJAX, MySQL, and PHP,<br> &nbsp;
                        showcasing proficiency in front-end and back-end technologies.<br>
                       • Achieved an enhanced user experience and improved functionality through these developments.<br>
                       • Conducted rigorous testing and debugging to ensure high-quality performance.<br>
                       • Performed extensive testing and debugging to ensure optimal performance.
                    </p>
                    <h6>eShiksa, Fee-Forms, Form-Builder</h6>
                    <p>
                        • Developed a new fee payment portal for Arunachal School.<br>
                        • Utilized JavaScript, AJAX, and other programming languages, to successfully develop a variety of <br> &nbsp; applications.<br>
                        • New functionality was created to make work easier for applications using HTML, CSS, JavaScript, PHP, and <br> &nbsp; MySQL.<br>
                        • Constructed REST APIs for mobile applications and collaborated with the UI team.<br>
                        • Managed website updates to align with corporate requirements.<br>
                        • Applied effective time management strategies to meet tight project deadlines.<br>
                        • Conducted rigorous testing and debugging to ensure high-quality performance.
                    </p>
                    <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Project 1 Area =================-->
<hr>
<!--================ Start Project 2 Area =================-->
<section class="about_area my_section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="main_title text-left">
                    <h4><u>Attendance-Management</u></h4>
                    <h6>Poornima Institute of Engineering and Technology</h6>
                    <p>
                        • Attendance Management System" helps teachers to mark online <br> &nbsp; attendance of students during class & reduce manual work.<br>
                        • It is used to track student's attendance, absentee record, <br> &nbsp; attendance history & other related documents.<br>
                        • Demonstrated leadership skills in managing projects from <br> &nbsp; concept to completion.<br>
                        • Established a robust authentication system to ensure secure and <br> &nbsp; controlled user access within the project.<br>
                        • Designed and Developed an intuitive dashboard for <br> &nbsp; administrators to manage classes and view attendance reports
                    </p>
                    <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="about_img">
                    
                    <img class="" src="{% static 'images/AttProject.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Project 2 Area =================-->
<hr>
<!--================ Start Project 3 Area =================-->
<section class="about_area my_section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    
                    <img class="" src="{% static 'images/hms1.png' %}" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <!-- <h5>GetePay/eShiksa<br>
                        - UP State Medical Faculty <br>
                        - State Institute of Health and Family Welfare</h5> -->

                    <h4><u>Hospital Management</u></h4>
                    <h6>VGT Pvt. Ltd.</h6>
                    <p>
                        • Created a Website “ Hospital Management System ” that give the <br> &nbsp; information about all nearby Hospital and provide consultant.<br>
                        • Authentication for User and Admin.<br>
                        • Participated in team projects, demonstrating an ability to work <br> &nbsp; collaboratively and effectively.
                    </p>
                    <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Project 3 Area =================-->

{% include 'common_Footer.html' %}
