{% load static %}
{% include 'common_Header.html' %}

<title>Portfolio Lokendra</title>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<!-- <link rel="icon" href="{% static 'onlinePortfolio/img/favicon.png' %}" type="image/png"> -->
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/style.css' %}">
</head>

<!--================ Start Project 1 Area =================-->
<section class="about_area my_section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    
                    <img class="" src="{% static 'images/getepayLogo.png' %}" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <!-- <h5>GetePay/eShiksa<br>
                        - UP State Medical Faculty <br>
                        - State Institute of Health and Family Welfare</h5> -->

                    <h4>GetePay/eShiksa</h4>
                    <h6>• UP State Medical Faculty</h6>
                    <p>
                        Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven 
                        midst their. Beast creepeth. Fish days.
                    </p>
                    <h6>• State Institute of Health and Family Welfare</h6>
                    <p>
                        Is give may shall likeness made yielding spirit a itself together created after sea 
                        is in beast beginning signs open god you're gathering whose gathered cattle let. 
                        Creature whales fruit unto meat the life beginning all in under give two.
                    </p>
                    <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Project 1 Area =================-->
<hr>
<!--================ Start Project 2 Area =================-->
<section class="about_area my_section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="main_title text-left">
                    <h4>Attendance-Management</h4>
                    <h6>- describe about our college</h6>
                    <p>
                        • Demonstrated leadership skills in managing projects from concept to completion.
                    </p>
                    <p>
                        • Attendance Management System" helps teachers to mark online attendance of
                        students during class & reduce manual work.
                    </p>
                    <p>
                        • It is used to track student's attendance, absentee record, attendance history &
                        other related documents.
                    </p>
                    <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="about_img">
                    
                    <img class="" src="{% static 'images/AttProject.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Project 2 Area =================-->
<hr>
<!--================ Start Project 3 Area =================-->
<section class="about_area my_section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    
                    <img class="" src="{% static 'images/hms1.png' %}" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <!-- <h5>GetePay/eShiksa<br>
                        - UP State Medical Faculty <br>
                        - State Institute of Health and Family Welfare</h5> -->

                    <h4>Hospital Management</h4>
                    <h6>• UP State Medical Faculty</h6>
                    <p>
                        Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven 
                        midst their. Beast creepeth. Fish days.
                    </p>
                    <h6>• State Institute of Health and Family Welfare</h6>
                    <p>
                        Is give may shall likeness made yielding spirit a itself together created after sea 
                        is in beast beginning signs open god you're gathering whose gathered cattle let. 
                        Creature whales fruit unto meat the life beginning all in under give two.
                    </p>
                    <!-- <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Project 3 Area =================-->

{% include 'common_Footer.html' %}
