{% load static %}

<!doctype html>
<html lang="en">

<script>
    function openPdf(){
        window.open("{% static 'documents/Lokendra_Arya_Resume_25-08-2023-12-04-41.pdf' %}");
    }
</script>

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<!-- <link rel="icon" href="{% static 'onlinePortfolio/img/favicon.png' %}" type="image/png"> -->
	<title>Resume - Lokendra</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'onlinePortfolio/vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'onlinePortfolio/css/style.css' %}">
</head>

<body>
    {% include 'common_Header.html' %}
    
    <!--================ Start About Us Area =================-->
    <section class="about_area my_section_gap">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img class="" src="{% static 'images/about-us.png' %}" alt="">
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                        <h2>let’s <br>
                            Introduce about <br>
                            myself</h2>
                        <p>
                            Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven 
                            midst their. Beast creepeth. Fish days.
                        </p>
                        <p>
                            Is give may shall likeness made yielding spirit a itself together created after sea 
                            is in beast beginning signs open god you're gathering whose gathered cattle let. 
                            Creature whales fruit unto meat the life beginning all in under give two.
                        </p>
                        <a class="primary_btn" href="" onclick="openPdf()"><span>Download CV</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->

    <!--================ Start My Resume =================-->

            <!-- <h5>Here Is My resume - <img src="" onclick='console.log({% static "document/Lokendra_Arya_Resume_25-08-2023-12-04-41.pdf" %})' alt="Resume"> -->
        <!-- <h5>Here Is My resume - </h5>
        <img width="80" src="{% static 'images/resumeIcon.png' %}" onclick="openPdf()" alt="Resume"> -->
    
    <!--================ End My Resume =================-->

    {% include 'common_Footer.html' %}

</body>

</html>